@model IEnumerable<Shop.Models.Book>

@{
    ViewData["Title"] = "catalogue";
}
@{
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
<h2>FPT Book Shop</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center" style="color: deepskyblue;">
                        <h6>@item.title</h6>
                    </div>
                    <div class="card-body text-center">
                        <img src="~/images/@item.imgfile" class="img-fluid" style="display: block; margin: 0 auto;" height="150" width="120" />
                        <br>
                        <p class="text-center"><b>Price: </b>$@item.price</p>
                        <p class="text-center"><b>Remaining: </b>@item.bookquantity</p>

                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-outline-primary" asp-controller="orders" asp-action="Create" asp-route-id="@item.Id">Add To Cart</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<hr />

